@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px gray;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}